### Pandas, part 2
There are many ways to achieve the same output with Pandas.  In this drill we review practice using world travel data from the The World Bank https://data.worldbank.org/indicator/ST.INT.ARVL.

First import this "travelData.csv" file and get to know the data.  
What are the columns and rows?

We won't need the Indicator_Name and Ind_Code columns. So remove 'em.
Let's set the Country_Name as the index and then sort in ascending order.
Check the order by viewing only the Country_Name column.

Even if not entirely applicable yet, what are quartiles, count, min and max, etc., of these data?

Exponential notation is fine but for our purposes, let's pretty up the data by formatting them with commas and round off to 0 decimal places.

The data range from 1995 to 2016.  We want to create two new columns: one for 1995-1999 and one from 2000-2016.  Let's call them 20thCent and 21stCent. (Try two techniques for identifying the columns, such as a list and a slice.)

What are the numbers of travellers to Angola for each year between 1998-2002 inclusive?

List the countries in ascending order of their change in travellers between 1995-2015.
It might be more useful upon seeing the output to categorize the countries into 10 or so bix (given the range of the data, from 0 to almost 1,000,000,000) ...  Once you've made the bins, take another look and write a function to change any NaN values into something, such as 0.03, so there's a known error throughout the dataset and preventing any division or multiplication of 0.